﻿@using ESS.Data.Model
@model ESS.Data.Model.SelfMonitoringModel

@{
    ViewData["Title"] = "Self Monitoring";
    UserModel UserModel = UserModel.MappingFromAuth(User);

    List<SelectListItem> MaskerType = new List<SelectListItem>();
    MaskerType.Add(new SelectListItem() { Value = "Lapis (masker medis)", Text= "Lapis (masker medis)" });
    MaskerType.Add(new SelectListItem() { Value = "Lapis (masker medis & masker kain)", Text = "Lapis (masker medis & masker kain)" });
}

<div class="card card-custom gutter-b">
    <div class="card-body">
        <div class="kt-form" id="kt_login_form">

            <div class="form-group">
                <label>Nama Lengkap</label>
                <input type="text" class="form-control form-control-solid" value="@UserModel.FullName" readonly />
            </div>

            <div class="form-group">
                <label>NIK Site</label>
                <input type="text" class="form-control form-control-solid" value="@UserModel.NIKSite" readonly />
            </div>

            <div class="separator separator-dashed my-5"></div>

            @Html.HiddenFor(x => x.Latitude)
            @Html.HiddenFor(x => x.Longitude)

            <!-- KONDISI UNTUK NON EMPLOYEE -->

            <div class="form-group">
                <label>Lokasi Kerja</label>
                <div class="input-group">
                    <div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-browser kt-font-brand"></i></span></div>
                    @Html.DropDownListFor(x => x.SiteCode, new List<SelectListItem>(), new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group row p-2 pl-5">
                <div class="checkbox-list">
                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsOnDuty)
                        <span></span>
                        Karyawan sedang bertugas
                    </label>
                </div>
            </div>


            <h3 class="font-size-lg text-dark font-weight-bold">Lokasi Karyawan</h3>
            <div class="separator separator-dashed mt-2 mb-5"></div>
            <div class="mb-15">
                <div class="form-group">
                    <label>Provinsi</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-browser kt-font-brand"></i></span></div>
                        @Html.DropDownList("Province", new List<SelectListItem>(), new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <label>Area</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-browser kt-font-brand"></i></span></div>
                        @Html.DropDownList("ProvinceArea", new List<SelectListItem>(), new { @class = "form-control" })
                        @Html.HiddenFor(x => x.Address)
                    </div>
                </div>
            </div>


            <h3 class="font-size-lg text-dark font-weight-bold">Catatan Karyawan</h3>
            <div class="separator separator-dashed mt-2 mb-5"></div>
            <div class="mb-15">
                <div class="form-group">
                    <label>Pilih Tanggal & Waktu</label>
                    <div class="input-group date">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-calendar-check-o glyphicon-th"></i></span></div>
                        @Html.TextBoxFor(x => x.DateTimeCheckInStr, new { @class = "form-control", @placeholder = "Pilih Tanggal & Waktu", @style = "margin-top: 0;", @readonly = "" })
                    </div>
                </div>

                <div class="form-group">
                    <label>Suhu Tubuh</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-temperature-low kt-font-brand"></i></span></div>
                        @Html.TextBoxFor(x => x.BodyTemperatureStr, new { @class = "form-control", @placeholder = "Suhu Tubuh" })
                        <div class="input-group-prepend"><span class="input-group-text">℃</span></div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Saturasi O2</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-tint kt-font-brand"></i></span></div>
                        @Html.TextBoxFor(x => x.SaturationO2, new { @type = "number", @class = "form-control", @placeholder = "Saturasi O2" })
                        <div class="input-group-prepend"><span class="input-group-text">%</span></div>
                    </div>
                </div>
            </div>

            <div class="form-group">

                <h3 class="font-size-lg text-dark font-weight-bold">Gejala</h3>
                <div class="separator separator-dashed my-5"></div>

                <div class="checkbox-list">
                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsSoreThroat)
                        <span></span>
                        Saya mengalami Sakit Tenggorokan
                    </label>

                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsDiarrhea)
                        <span></span>
                        Saya mengalami Diare
                    </label>

                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsFlu)
                        <span></span>
                        Saya mengalami Sakit Flu
                    </label>

                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsFever)
                        <span></span>
                        Saya mengalami Sakit Demam
                    </label>

                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsCough)
                        <span></span>
                        Saya mengalami Sakit Batuk
                    </label>

                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsShortness)
                        <span></span>
                        Saya mengalami Sakit Rasa Sesak
                    </label>

                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsSmellDisturbance)
                        <span></span>
                        Saya mengalami Gangguan Penciuman
                    </label>

                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsTasteInterference)
                        <span></span>
                        Saya mengalami Gangguan Pengecapan
                    </label>

                    <div class="separator separator-dashed mt-2 mb-5"></div>

                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsSorePain)
                        <span></span>
                        Saya mengalami Pegal / Nyeri di tempat suntikan
                    </label>

                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsJointPain)
                        <span></span>
                        Saya mengalami Nyeri sendi dan Otot
                    </label>

                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsDizzy)
                        <span></span>
                        Saya mengalami Pusing
                    </label>

                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsHeadache)
                        <span></span>

                        Saya mengalami Sakit Kepala
                    </label>

                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsTired)
                        <span></span>
                        Saya mengalami Lelah
                    </label>

                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsShivering)
                        <span></span>
                        Saya mengalami Menggigil
                    </label>

                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsNausea)
                        <span></span>
                        Saya mengalami Mual
                    </label>

                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsGag)
                        <span></span>
                        Saya mengalami Muntah
                    </label>
                                 
                </div>

            </div>

            <div class="form-group">
                <label>Apakah anda memiliki gejala lain ?</label>
                <div class="input-group">
                    @Html.TextBoxFor(x => x.OtherSymptoms, new { @type = "text", @class = "form-control", @placeholder = "Gejala lainnya" })
                </div>
            </div>



            <div class="form-group">
                <h3 class="font-size-lg text-dark font-weight-bold">Riwayat & Pertanyaan</h3>
                <div class="separator separator-dashed my-5"></div>

                <div class="checkbox-list">

                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsContactPatient)
                        <span></span>
                        Saya ada riwayat kontak dengan orang yang dinyatakan PDP (pasien dalam pengawasan) atau orang dengan positif COVID-19 dalam 14 hari terakhir
                    </label>

                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsQuarantine)
                        <span></span>
                        Saya lakukan karantina mandiri 14 hari sebelum berangkat ke site (untuk pekerja yang akan bertugas ke site)
                    </label>

                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsPositiveAntigen)
                        <span></span>
                        Saya dinyatakan positif Covid-19 dari hasil pemeriksaan ANTIGEN
                    </label>


                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsPositivePCR)
                        <span></span>
                        Saya dinyatakan positif Covid-19 dari hasil pemeriksaan PCR
                    </label>

                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsPositiveOTG)
                        <span></span>
                        Saya dinyatakan positif Covid-19 dan Tidak bergejala
                    </label>

                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsPositiveCOV)
                        <span></span>
                        Hospitalised karena Covid-19
                    </label>




                </div>
            </div>



            <div class="mb-15">

                <div class="form-group">
                    <label class="checkbox">
                        @Html.CheckBoxFor(x => x.IsVaccine)
                        <span></span>
                        Saya melakukan vaksin <div id="vaksin-on"></div>
                    </label>
                </div>

                <div id="box-is-vaccine" style="display: none; padding: 15px; border: 1px dashed #eee">
                    <div class="form-group">
                        <label>Tanggal Vaksin</label>
                        <div class="input-group date">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-calendar-check-o glyphicon-th"></i></span></div>
                            @Html.TextBoxFor(x => x.Vaccine.VaccineDateStr, new { @class = "form-control", @placeholder = "Pilih Tanggal", @style = "margin-top: 0;", @readonly = "" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Nama Vaksin</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-browser kt-font-brand"></i></span></div>
                            @Html.DropDownList("Vaccine_VaccineType", new List<SelectListItem>(), new { @class = "form-control" })
                        </div>
                    </div>


                    <div id="box-other-vaksin" class="form-group mt-10" style="display: none;">
                        <label>Vaksin Lainnya</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-medkit kt-font-brand"></i></span></div>
                            @Html.TextBox("Vaccine_VaccineType_Other", "", new { @class = "form-control", @placeholder = "Vaksin Lain" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label>Lokasi</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-map kt-font-brand"></i></span></div>
                            @Html.TextBoxFor(x => x.Vaccine.Location, new { @class = "form-control", @placeholder = "Lokasi" })
                        </div>
                    </div>

                    <div class="checkbox-list mt-10">
                        <label class="checkbox">
                            @Html.CheckBox("IsKeepDistance")
                            <span></span>
                            Saya menjaga jarak selama proses vaksinasi
                        </label>

                        <label class="checkbox">
                            @Html.CheckBox("IsUseMasker")
                            <span></span>
                            Saya menggunakan masker
                        </label>
                    </div>

                    <div id="box-use-masker" class="form-group mt-10" style="display: none;">
                        <label>Masker yang saya gunakan</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-browser kt-font-brand"></i></span></div>
                            @Html.DropDownListFor(x => x.MaskerType, MaskerType, new { @class = "form-control" })
                        </div>
                    </div>

                </div>

            </div>


            <div id="box-pasca-vaksin" style="display:none;">
                @Html.HiddenFor(x => x.IsPostVaccine)
                <h3 class="font-size-lg text-dark font-weight-bold">Vaksin Terakhir</h3>
                <div class="separator separator-dashed my-5"></div>

                <div class="form-group">
                    <label>Tanggal Vaksin</label>
                    <div class="input-group date">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-calendar-check-o glyphicon-th"></i></span></div>
                        @Html.TextBox("VaccineDateStrPast", "", new { @class = "form-control", @placeholder = "Pilih Tanggal", @style = "margin-top: 0;", @readonly = "" })
                    </div>
                </div>
                
                <div class="form-group">
                    <label>Nama Vaksin</label>
                    <div class="input-group">
                        <div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-browser kt-font-brand"></i></span></div>
                        @Html.TextBox("VaccineTypePast", "", new { @class = "form-control", @placeholder = "Pilih Tanggal", @style = "margin-top: 0;", @readonly = "" })
                    </div>
                </div>
            </div>

        </div>


        <!--begin::Action-->
        <div class="kt-login__actions" style="margin: 1rem 0;">
            <button id="btn-submit" type="button" class="btn btn-primary btn-elevate kt-login__btn-primary btn-block">Simpan</button>

            <div class="kt-login__actions" style="margin: 1rem 0;">
                <a asp-controller="SelfMonitoring" asp-action="Index" class="btn btn-secondary btn-elevate kt-login__btn-secondary btn-block">
                    <i class="fa fa-list"></i> Lihat History
                </a>
            </div>
        </div>

        <!--end::Action-->
    </div>
</div>


@section scripts {
    <script>

        var TOKEN = '@UserModel.Token';
        var API_URI = '@ViewBag.API_URI';
        var URI_HOME = '@Url.Action("Index", "Home")';

        var modal_name = '#kt_wrapper';
        KTApp.block(modal_name, {
            overlayColor: '#000000',
            state: 'primary',
            message: 'Proses loading...'
        });

        $.ajax({
            url: API_URI + '/api/user/sites',
            type: 'GET',
            headers: { "Authorization": "Bearer " + TOKEN },
            success: function (response) {
                var htmlOption = [];
                for (var i = 0; i < response.length; i++) {
                    htmlOption.push('<option value="' + response[i].value + '">' + response[i].text + '</option>');
                }
                $('select[name=SiteCode]').append(htmlOption.join(''));
                KTApp.unblock(modal_name);
            },
            error: function (response) {
                console.log(response);
                Swal.fire("Error alert!", "Error when get sites!", "error");
                KTApp.unblock(modal_name);
            }
        });


        $('select[name=Province]').change(function () {
            var kdProvince = $(this).val();
            KTApp.block(modal_name, {
                overlayColor: '#000000',
                state: 'primary',
                message: 'Proses loading...'
            });

            $.ajax({
                url: API_URI + '/api/user/area-province?KdProv=' + kdProvince,
                type: 'GET',
                headers: { "Authorization": "Bearer " + TOKEN },
                success: function (response) {
                    $('select[name=ProvinceArea]').empty();
                    var htmlOption = [];
                    for (var i = 0; i < response.length; i++) {
                        htmlOption.push('<option value="' + response[i].value + '">' + response[i].text + '</option>');
                    }
                    $('select[name=ProvinceArea]').append(htmlOption.join(''));
                    KTApp.unblock(modal_name);
                },
                error: function (response) {
                    console.log(response);
                    Swal.fire("Error alert!", "Error when get sites!", "error");
                    KTApp.unblock(modal_name);
                }
            });
        });

        $.ajax({
            url: API_URI + '/api/user/province',
            type: 'GET',
            headers: { "Authorization": "Bearer " + TOKEN },
            success: function (response) {
                var htmlOption = [];
                for (var i = 0; i < response.length; i++) {
                    htmlOption.push('<option value="' + response[i].value + '">' + response[i].text + '</option>');
                }
                $('select[name=Province]').append(htmlOption.join(''));
                KTApp.unblock(modal_name);
            },
            error: function (response) {
                console.log(response);
                Swal.fire("Error alert!", "Error when get sites!", "error");
                KTApp.unblock(modal_name);
            }
        });


        if ("geolocation" in navigator) { //check geolocation available
            //try to get user current location using getCurrentPosition() method
            navigator.geolocation.getCurrentPosition(function (position) {
                $('#Latitude').val(position.coords.latitude);
                $('#Longitude').val(position.coords.longitude);

                console.log("Found your location <br />Lat : " + position.coords.latitude + " </br>Lang :" + position.coords.longitude);
            });
        } else {
            console.log("Browser doesn't support geolocation!");
        }


        $.ajax({
            url: API_URI + '/api/lookup/vaccine-type',
            type: 'GET',
            headers: { "Authorization": "Bearer " + TOKEN },
            success: function (response) {
                var htmlOption = [];
                for (var i = 0; i < response.length; i++) {
                    htmlOption.push('<option value="' + response[i].value + '">' + response[i].text + '</option>');
                }
                $('select[name=Vaccine_VaccineType]').append(htmlOption.join(''));
                KTApp.unblock(modal_name);
            },
            error: function (response) {
                console.log(response);
                Swal.fire("Error alert!", "Error when get sites!", "error");
                KTApp.unblock(modal_name);
            }
        });

        $.ajax({
            url: API_URI + '/api/self/vaccine',
            type: 'GET',
            headers: { "Authorization": "Bearer " + TOKEN },
            success: function (response) {
                
                if (response !== undefined && response !== null && response.length > 0) {
                    var lastVaccine = response[0];

                    //$('#vaksin-on').text('ke-' + response.length);

                    if (lastVaccine.onObservation) {
                        $('#IsPostVaccine').val(true);
                        $('#VaccineDateStrPast').val(lastVaccine.vaccineDateStr);
                        $('#VaccineTypePast').val(lastVaccine.vaccineType);
                        $('#box-pasca-vaksin').show();
                        $('#box-vaccine').hide();
                    }
                }


                KTApp.unblock(modal_name);
            },
            error: function (response) {
                console.log(response);
                Swal.fire("Error alert!", "Error when get sites!", "error");
                KTApp.unblock(modal_name);
            }
        });


        $('#IsVaccine').change(function () {
            var IsVaccine = $('input[name=IsVaccine]').prop('checked');
            if (IsVaccine) {
                $('#box-is-vaccine').show();
            } else {
                $('#box-is-vaccine').hide();
            }

        })

        $('#IsUseMasker').change(function () {
            var IsUseMasker = $(this).prop('checked');
            if (IsUseMasker) {
                $('#box-use-masker').show();
            } else {
                $('#box-use-masker').hide();
            }

        })

        $('#DateTimeCheckInStr').datetimepicker({
            todayHighlight: true,
            autoclose: true,
            format: 'yyyy-mm-dd hh:ii'
        });

        $('#Vaccine_VaccineDateStr').datetimepicker({
            todayHighlight: true,
            autoclose: true,
            format: 'yyyy-mm-dd hh:ii'
        });

        $('select[name=ProvinceArea]').change(function () {
            var val = $(this).val();
            if (val !== undefined && val !== null && val !== '') {
                var address = $('#Province option:selected').html() + " - " + $('#ProvinceArea option:selected').html();
                console.log(address);
                $('#Address').val(address);
            }
        });

        $('#Vaccine_VaccineType').change(function () {
            var VaccineType = $(this).val();
            if (VaccineType==='Lainnya') {
                $('#box-other-vaksin').show();
            } else {
                $('#box-other-vaksin').hide();
            }

        })

        var IsValidationForm = function () {
            var isValid = true;
            var strError = [];



            var siteCode = $("#SiteCode option:selected").val();
            if (!(siteCode !== undefined && siteCode !== null && siteCode !== '')) {
                strError.push('Site current location must be select');
                isValid = false;
            }

            var suhuTubuh = $('#BodyTemperatureStr').val();
            if (!(suhuTubuh !== undefined && suhuTubuh !== null && suhuTubuh !== '')) {
                strError.push('Body Temperature cannot be empty');
                isValid = false;
            } else {
                isValid = suhuTubuh.match(/^\d+(?:\.\d+)?$/);
                if (!isValid) {
                    strError.push('Body Temperature must number / decimal format');
                }
            }

            var dateTimeCheckInStr = $("#DateTimeCheckInStr").val();
            if (!(dateTimeCheckInStr !== undefined && dateTimeCheckInStr !== null && dateTimeCheckInStr !== '')) {
                strError.push('Date Time Check In must be select');
                isValid = false;
            }

            var address = $("#Address").val();
            if (!(address !== undefined && address !== null && address !== '')) {
                strError.push('Province and area must be select');
                isValid = false;
            }

            if (strError.length > 0) {
                swal.fire("Warning!", strError.join('<br />'), "error");
            }

            return isValid;
        }

        $("#btn-submit").click(function (event) {
            //event.preventDefault(); //prevent default action

            if (IsValidationForm()) {

                var vaccineJSON = {
                    vaccineType: $("#Vaccine_VaccineType option:selected").val(),
                    vaccineDateStr: $('#Vaccine_VaccineDateStr').val(),
                    location: $('#Vaccine_Location').val(),
                };

                if (vaccineJSON.vaccineType === 'Lainnya') {
                    vaccineJSON.vaccineType = $('#Vaccine_VaccineType_Other').val();
                }

                var IsVaccine = $('input[name=IsVaccine]').prop('checked');

                var form_data = {
                    dateTimeCheckInStr: $('input[name=DateTimeCheckInStr]').val(),
                    siteCode: $("#SiteCode option:selected").val(),
                    siteName: $("#SiteCode option:selected").text(),
                    address: $('input[name=Address]').val(),
                    latitude: parseFloat($('input[name=Latitude]').val()),
                    longitude: parseFloat($('input[name=Longitude]').val()),
                    bodyTemperatureStr: $('input[name=BodyTemperatureStr]').val(),
                    isSoreThroat: $('input[name=IsSoreThroat]').prop('checked'),
                    isFlu: $('input[name=IsFlu]').prop('checked'),
                    isFever: $('input[name=IsFever]').prop('checked'),
                    isCough: $('input[name=IsCough]').prop('checked'),
                    isShortness: $('input[name=IsShortness]').prop('checked'),
                    IsSmellDisturbance: $('input[name=IsSmellDisturbance]').prop('checked'),
                    IsTasteInterference: $('input[name=IsTasteInterference]').prop('checked'),
                    SaturationO2: parseInt($('input[name=SaturationO2]').val()),
                    isOnDuty: $('input[name=IsOnDuty]').prop('checked'),
                    isContactPatient: $('input[name=IsContactPatient]').prop('checked'),
                    isQuarantine: $('input[name=IsQuarantine]').prop('checked'),
                    isFromMobile : false,
                    provinceArea: $('#ProvinceArea option:selected').val(),
                    isPositiveAntigen: $('input[name=IsPositiveAntigen]').prop('checked'),
                    isPositivePCR: $('input[name=IsPositivePCR]').prop('checked'),
                    isPositiveOTG: $('input[name=IsPositiveOTG]').prop('checked'),
                    isPositiveCOV: $('input[name=IsPositiveCOV]').prop('checked'),
                    otherSymptoms: $('input[name=OtherSymptoms]').val(),

                    isVaccine: IsVaccine,
                    vaccine: IsVaccine ? vaccineJSON : null,

                    isPostVaccine: $('input[name=IsPostVaccine]').val() === "true" ? true : false,
                    isDiarrhea: $('input[name=IsDiarrhea]').prop('checked'),
                    isSorePain: $('input[name=IsSorePain]').prop('checked'),
                    isJointPain: $('input[name=IsJointPain]').prop('checked'),
                    isDizzy: $('input[name=IsDizzy]').prop('checked'),
                    isHeadache: $('input[name=IsHeadache]').prop('checked'),
                    isTired: $('input[name=IsTired]').prop('checked'),
                    isShivering: $('input[name=IsShivering]').prop('checked'),
                    isNausea: $('input[name=IsNausea]').prop('checked'),
                    isGag: $('input[name=IsGag]').prop('checked'),
                    
                    isUseMasker: $('input[name=IsUseMasker]').prop('checked'),
                    isKeepDistance: $('input[name=IsKeepDistance]').prop('checked'),
                    maskerType: $('#MaskerType option:selected').val(),
                }

                console.log(form_data);
                console.log(JSON.stringify(form_data));

                $.ajax({
                    url: API_URI + '/api/self/check',
                    type: 'POST',
                    dataType: "json",
                    contentType: "application/json",
                    headers: { "Authorization": "Bearer " + TOKEN },
                    data: JSON.stringify(form_data),

                    beforeSend: function () {
                        KTApp.block(modal_name, {
                            overlayColor: '#000000',
                            state: 'primary',
                            message: 'Proses check in...'
                        });
                    },

                    success: function (result) {

                        if (result.isSuccess) {

                            Swal.fire(
                                'Success!',
                                result.message,
                                'success'
                            ).then((result) => {
                                window.location.href = URI_HOME;
                            });

                        } else {
                            swal.fire("Warning!", result.message, "error")
                                .then(() => {
                                    KTApp.unblock(modal_name);
                                });
                        }

                        console.log(result);
                    },

                    error: function (xhr, Status, err) {
                        Swal.fire({
                            icon: 'error',
                            title: 'Warning',
                            text: "Terjadi error : " + Status
                        });

                    }

                }).done(function (response) {
                    console.log(response);
                    KTApp.unblockPage();
                });
            }


        });

    </script>
}
