﻿@using ESS.Data.Model

@model List<SelfMonitoringViewModel>

@{
    ViewData["Title"] = "Self Monitoring";
    UserModel UserModel = UserModel.MappingFromAuth(User);
    Dictionary<string, string> DataChart = new Dictionary<string, string>();
    if (ViewBag.DataChart != null)
    {
        DataChart = (Dictionary<string, string>)ViewBag.DataChart;
    }

    List<VaccineModel> Vaccines = (List<VaccineModel>)ViewBag.Vaccines;
}

<div class="card mb-5">
    <div class="card-header border-0 pt-5">
        <h3 class="card-title">
            <span class="card-label font-weight-bolder text-dark">Self Monitoring Statistics</span>
        </h3>
    </div>
    <div class="card-body">
        <div id="placeholderSuhuTubuh" style="height: 300px;"></div>
        <div class="separator separator-solid my-5"></div>
        <div id="placeholderGejala" style="height: 300px;"></div>
    </div>
</div>

@if (Vaccines != null && Vaccines.Count > 0)
{
    <div class="card">
        <div class="card-header border-0 pt-5">
            <h3 class="card-title">
                <span class="card-label font-weight-bolder text-dark">Riwayat Vaksin</span>
            </h3>
        </div>
        <div class="card-body">
            <div class="timeline timeline-justified timeline-4">
                <div class="timeline-bar"></div>
                <div class="timeline-items">
                    @{
                        int VaksinKe = 0;
                    }

                    @foreach (var item in Vaccines)
                    {
                        <div class="timeline-item">
                            <div class="timeline-badge">
                                <div class="bg-success"></div>
                            </div>
                            <div class="timeline-label text-primary">
                                <span class="text-primary font-weight-bold">@item.VaccineDate.ToString("yyyy-MM-dd") (Vaksin Ke - @(Vaccines.Count - VaksinKe++))</span>
                            </div>
                            <div class="timeline-content">

                                <div id="box-is-vaccine" style="padding: 15px; border: 1px dashed #eee">
                                    <div class="form-group">
                                        <label>Tanggal Vaksin</label>
                                        <div class="input-group date">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-calendar-check-o glyphicon-th"></i></span></div>
                                            <input type="text" class="form-control" value="@item.VaccineDateStr" />

                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Nama Vaksin</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="flaticon2-browser kt-font-brand"></i></span></div>
                                            <input type="text" class="form-control" value="@item.VaccineType" />
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label>Lokasi</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend"><span class="input-group-text"><i class="fa fa-map kt-font-brand"></i></span></div>
                                            <input type="text" class="form-control" value="@item.Location" />
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

<div class="card">
    <div class="card-header border-0 pt-5">
        <h3 class="card-title">
            <span class="card-label font-weight-bolder text-dark">Self Monitoring History</span>
        </h3>
    </div>
    <div class="card-body">
        <div class="timeline timeline-justified timeline-4">
            <div class="timeline-bar"></div>
            <div class="timeline-items">
                @foreach (var item in Model)
                {
                    <div class="timeline-item">
                        <div class="timeline-badge">
                            @if (item.IsCheckIn)
                            {
                                <div class="bg-success"></div>
                            }
                            else
                            {
                                <div class="bg-danger"></div>
                            }
                        </div>
                        <div class="timeline-label text-primary">
                            <span class="text-primary font-weight-bold">@item.DateTimeCheckIn.ToString("yyyy-MM-dd")</span>
                        </div>
                        <div class="timeline-content">
                            @if (item.IsCheckIn)
                            {
                                if (!string.IsNullOrEmpty(item.SiteName))
                                {
                                    <div class="d-block">
                                        <span>Lokasi <i class="flaticon2-placeholder"></i>@item.SiteName</span>
                                    </div>
                                }

                                <table class="table table-borderless">
                                    <tbody>
                                        <tr>
                                            <td>On/Off Duty</td>
                                            <td>:</td>
                                            <td>@(item.IsOnDuty ? "ON" : "OFF")</td>
                                        </tr>
                                        <tr>
                                            <td>Suhu Tubuh Pagi</td>
                                            <td>:</td>
                                            <td>@item.BodyTemperatureMorning</td>
                                        </tr>
                                        <tr>
                                            <td>Suhu Tubuh Malam</td>
                                            <td>:</td>
                                            <td>@item.BodyTemperatureNight</td>
                                        </tr>
                                        @if (item.SaturationO2 > 0)
                                        {
                                            <tr>
                                                <td>Saturasi O2</td>
                                                <td>:</td>
                                                <td>@item.SaturationO2</td>
                                            </tr>
                                        }

                                        @if (item.IsPostVaccine)
                                        {
                                            <tr>
                                                <td colspan="3">Saya Melakukan Vaksin</td>
                                            </tr>
                                            <tr>
                                                <td colspan="3">
                                                    <label class="checkbox checkbox-danger @(item.IsSoreThroat ? "" : "d-none")">
                                                        <input type="checkbox" checked readonly />
                                                        <span></span>
                                                        Saya mengalami Sakit Tenggorokan
                                                    </label>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>Saya menggunakan masker</td>
                                                <td>:</td>
                                                <td>@item.MaskerType</td>
                                            </tr>
                                        }


                                    </tbody>
                                </table>




                                @if (item.IsSoreThroat || item.IsFlu || item.IsFever || item.IsCough || item.IsShortness || item.IsSmellDisturbance || item.IsTasteInterference ||
                                item.IsSorePain || item.IsJointPain || item.IsDizzy || item.IsHeadache || item.IsTired || item.IsShivering || item.IsNausea || item.IsGag
                               )
                                {
                                    <div class="form-group">
                                        <label>Gejala Corona</label>
                                        <div class="checkbox-list">

                                            <label class="checkbox checkbox-danger @(item.IsSoreThroat ? "" : "d-none")">
                                                <input type="checkbox" checked readonly />
                                                <span></span>
                                                Saya mengalami Sakit Tenggorokan
                                            </label>

                                            <label class="checkbox checkbox-danger @(item.IsFlu ? "" : "d-none")">
                                                <input type="checkbox" checked readonly />
                                                <span></span>
                                                Saya mengalami Sakit Flu
                                            </label>

                                            <label class="checkbox checkbox-danger @(item.IsFever ? "" : "d-none")">
                                                <input type="checkbox" checked readonly />
                                                <span></span>
                                                Saya mengalami Sakit Demam
                                            </label>

                                            <label class="checkbox checkbox-danger @(item.IsCough ? "" : "d-none")">
                                                <input type="checkbox" checked readonly />
                                                <span></span>
                                                Saya mengalami Sakit Batuk
                                            </label>

                                            <label class="checkbox checkbox-danger @(item.IsShortness ? "" : "d-none")">
                                                <input type="checkbox" checked readonly />
                                                <span></span>
                                                Saya mengalami Sakit Rasa Sesak
                                            </label>

                                            <label class="checkbox checkbox-danger @(item.IsSmellDisturbance ? "" : "d-none")">
                                                <input type="checkbox" checked readonly />
                                                <span></span>
                                                Saya mengalami Gangguan Penciuman
                                            </label>

                                            <label class="checkbox checkbox-danger @(item.IsTasteInterference ? "" : "d-none")">
                                                <input type="checkbox" checked readonly />
                                                <span></span>
                                                Saya mengalami Gangguan Pengecapan
                                            </label>



                                            <label class="checkbox checkbox-danger @(item.IsSorePain ? "" : "d-none")">
                                                <input type="checkbox" checked readonly />
                                                <span></span>
                                                Saya mengalami Pegal / Nyeri di tempat suntikan
                                            </label>


                                            <label class="checkbox checkbox-danger @(item.IsJointPain ? "" : "d-none")">
                                                <input type="checkbox" checked readonly />
                                                <span></span>
                                                Saya mengalami Nyeri sendi dan Otot
                                            </label>

                                            <label class="checkbox checkbox-danger @(item.IsDizzy ? "" : "d-none")">
                                                <input type="checkbox" checked readonly />
                                                <span></span>
                                                Saya mengalami Pusing
                                            </label>

                                            <label class="checkbox checkbox-danger @(item.IsHeadache ? "" : "d-none")">
                                                <input type="checkbox" checked readonly />
                                                <span></span>
                                                Saya mengalami Sakit Kepala
                                            </label>

                                            <label class="checkbox checkbox-danger @(item.IsTired ? "" : "d-none")">
                                                <input type="checkbox" checked readonly />
                                                <span></span>
                                                Saya mengalami Lelah
                                            </label>

                                            <label class="checkbox checkbox-danger @(item.IsShivering ? "" : "d-none")">
                                                <input type="checkbox" checked readonly />
                                                <span></span>
                                                Saya mengalami Menggigil
                                            </label>

                                            <label class="checkbox checkbox-danger @(item.IsNausea ? "" : "d-none")">
                                                <input type="checkbox" checked readonly />
                                                <span></span>
                                                Saya mengalami Mual
                                            </label>

                                            <label class="checkbox checkbox-danger @(item.IsGag ? "" : "d-none")">
                                                <input type="checkbox" checked readonly />
                                                <span></span>
                                                Saya mengalami Muntah
                                            </label>





                                        </div>
                                    </div>
                                }

                                <div class="form-group @(!string.IsNullOrEmpty(item.OtherSymptoms) ? "" : "d-none")">
                                    <label>Gejala lain : </label>
                                    <div class="input-group">
                                        <input type="text" class="form-control" value="@item.OtherSymptoms" readonly />
                                    </div>
                                </div>

                                @if (item.IsContactPatient || item.IsQuarantine)
                                {
                                    <div class="form-group">
                                        <label>Riwayat Karyawan</label>
                                        <div class="checkbox-list">

                                            <label class="checkbox checkbox-danger @(item.IsContactPatient ? "":"d-none")">
                                                <input type="checkbox" checked />
                                                <span></span>
                                                Saya ada riwayat kontak dengan orang yang dinyatakan PDP (pasien dalam pengawasan) atau orang dengan positif COVID-19 dalam 14 hari terakhir

                                            </label>

                                            <label class="checkbox checkbox-danger @(item.IsQuarantine ? "":"d-none")">
                                                <input type="checkbox" checked />
                                                <span></span>
                                                Saya lakukan karantina mandiri 14 hari sebelum berangkat ke site (untuk pekerja yang akan bertugas ke site)
                                            </label>

                                            <label class="checkbox checkbox-danger @(item.IsPositiveAntigen ? "":"d-none")">
                                                <input type="checkbox" checked />
                                                <span></span>
                                                Saya dinyatakan positif Covid-19 dari hasil pemeriksaan ANTIGEN
                                            </label>

                                            <label class="checkbox checkbox-danger @(item.IsPositivePCR ? "":"d-none")">
                                                <input type="checkbox" checked />
                                                <span></span>
                                                Saya dinyatakan positif Covid-19 dari hasil pemeriksaan PCR
                                            </label>

                                            <label class="checkbox checkbox-danger @(item.IsPositiveOTG ? "":"d-none")">
                                                <input type="checkbox" checked />
                                                <span></span>
                                                Saya dinyatakan positif Covid-19 dan Tidak bergejala
                                            </label>

                                            <label class="checkbox checkbox-danger @(item.IsPositiveCOV ? "":"d-none")">
                                                <input type="checkbox" checked />
                                                <span></span>
                                                Hospitalised karena Covid-19
                                            </label>

                                        </div>
                                    </div>
                                }
                            }
                            else
                            {
                                <span>No Check In</span>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>




@section scripts {
    <script src="~/assets/plugins/custom/canvasjs/jquery.canvasjs.min.js" type="text/javascript"></script>

    <script>

        var TOKEN = '@UserModel.Token';
        var API_URI = '@ViewBag.API_URI';
        var URI_HOME = '@Url.Action("Index", "Home")';

        var modal_name = '#kt_wrapper';


        var dataSuhuTubuh = @Html.Raw(DataChart["SUHU_TUBUH"]);
        var dataNULL = @Html.Raw(DataChart["NO_DATA"]);
        var dataSORETHROAT = @Html.Raw(DataChart["SORETHROAT"]);
        var dataFLU = @Html.Raw(DataChart["FLU"]);
        var dataFEVER = @Html.Raw(DataChart["FEVER"]);
        var dataCOUGH = @Html.Raw(DataChart["COUGH"]);
        var dataSHORTNESS = @Html.Raw(DataChart["SHORTNESS"]);
        var dataSMELL_DISTURBANCE = @Html.Raw(DataChart["SMELL_DISTURBANCE"]);
        var dataTASTE_INTERFERENCE = @Html.Raw(DataChart["TASTE_INTERFERENCE"]);


        var dataDIARRHEA = @Html.Raw(DataChart["DIARRHEA"]);
        var dataSORE_PAIN = @Html.Raw(DataChart["SORE_PAIN"]);
        var dataJOIN_PAIN = @Html.Raw(DataChart["JOIN_PAIN"]);
        var dataDIZZY = @Html.Raw(DataChart["DIZZY"]);
        var dataHEADACHE = @Html.Raw(DataChart["HEADACHE"]);
        var dataTIRED = @Html.Raw(DataChart["TIRED"]);
        var dataSHIVERING = @Html.Raw(DataChart["SHIVERING"]);
        var dataNAUSEA = @Html.Raw(DataChart["NAUSEA"]);
        var dataGAG = @Html.Raw(DataChart["GAG"]);

        var dataCONTACT_PATIENT = @Html.Raw(DataChart["CONTACT_PATIENT"]);
        var dataQUARANTINE = @Html.Raw(DataChart["QUARANTINE"]);

        window.onload = function () {


            var chart = new CanvasJS.Chart("placeholderSuhuTubuh", {
                animationEnabled: true,
                theme: "light2",
                axisX: {
                    valueFormatString: "DD MMM",
                    crosshair: {
                        enabled: true,
                        snapToDataPoint: true
                    }
                },
                axisY: {
                    title: "14 Days Temperature",
                    suffix: " °C",
                    minimum: 30,
                    maximum: 40,
                },
                toolTip: {
                    shared: true
                },
                legend: {
                    cursor: "pointer",
                    verticalAlign: "bottom",
                    horizontalAlign: "left",
                    dockInsidePlotArea: true,
                    itemclick: toogleDataSeries
                },
                data: [{
                    type: "line",
                    showInLegend: true,
                    markerType: "square",
                    xValueFormatString: "DD MMM, YYYY",
                    color: "#F08080",
                    indexLabel: "{y}°",
                    dataPoints: dataSuhuTubuh
                }]
            });
            chart.render();

            function toogleDataSeries(e) {
                if (typeof (e.dataSeries.visible) === "undefined" || e.dataSeries.visible) {
                    e.dataSeries.visible = false;
                } else {
                    e.dataSeries.visible = true;
                }
                chart.render();
            }


            var chart = new CanvasJS.Chart("placeholderGejala",
            {
              title:{
              text: "Gejala Corona"
              },
              axisX: {
                valueFormatString: "DD MMM",
                crosshair: {
                    enabled: true,
                    snapToDataPoint: true
                }
              },
                data: [
                    {
                        type: "stackedColumn",
                        legendText: "Tidak Ada Data",
                        showInLegend: "true",
                        color: '#eeeeee',
                        dataPoints: dataNULL
                    },{
                        type: "stackedColumn",
                        legendText: "Sakit Tenggorokan",
                        showInLegend: "true",
                        color: '#d11141',
                        dataPoints: dataSORETHROAT
                    },
                    {
                        type: "stackedColumn",
                        legendText: "Sakit Flu",
                        showInLegend: "true",
                        color: '#00aedb',
                        dataPoints: dataFLU
                    }



                    ,
                    {
                        type: "stackedColumn",
                        legendText: "Sakit Demam",
                        showInLegend: "true",
                        color: '#00b159',
                        dataPoints: dataFEVER
                    },
                    {
                        type: "stackedColumn",
                        legendText: "Batuk",
                        showInLegend: "true",
                        color: '#f37735',
                        dataPoints: dataCOUGH
                    },
                    {
                        type: "stackedColumn",
                        legendText: "Sakit Rasa Sesak",
                        showInLegend: "true",
                        color: '#ffc425',
                        dataPoints: dataSHORTNESS
                    },

                    {
                        type: "stackedColumn",
                        legendText: "Gangguan Penciuman",
                        showInLegend: "true",
                        color: '#ff00cc',
                        dataPoints: dataSMELL_DISTURBANCE
                    },
                    {
                        type: "stackedColumn",
                        legendText: "Gangguan Pengecapan",
                        showInLegend: "true",
                        color: '#ffccee',
                        dataPoints: dataTASTE_INTERFERENCE
                    },





                    {
                        type: "stackedColumn",
                        legendText: "Diare",
                        showInLegend: "true",
                        color: '#ab7800',
                        dataPoints: dataDIARRHEA
                    },
                    {
                        type: "stackedColumn",
                        legendText: "Pegal/Nyeri suntikan",
                        showInLegend: "true",
                        color: '#F9ED69',
                        dataPoints: dataSORE_PAIN
                    },
                    {
                        type: "stackedColumn",
                        legendText: "Nyeri sendi dan Otot",
                        showInLegend: "true",
                        color: '#F08A5D',
                        dataPoints: dataJOIN_PAIN
                    },
                    {
                        type: "stackedColumn",
                        legendText: "Pusing",
                        showInLegend: "true",
                        color: '#B83B5E',
                        dataPoints: dataDIZZY
                    },
                    {
                        type: "stackedColumn",
                        legendText: "Sakit Kepala",
                        showInLegend: "true",
                        color: '#6A2C70',
                        dataPoints: dataHEADACHE
                    },
                    {
                        type: "stackedColumn",
                        legendText: "Lelah",
                        showInLegend: "true",
                        color: '#F38181',
                        dataPoints: dataTIRED
                    },
                    {
                        type: "stackedColumn",
                        legendText: "Menggigil",
                        showInLegend: "true",
                        color: '#FCE38A',
                        dataPoints: dataSHIVERING
                    },
                    {
                        type: "stackedColumn",
                        legendText: "Mual",
                        showInLegend: "true",
                        color: '#EAFFD0',
                        dataPoints: dataNAUSEA
                    },
                    {
                        type: "stackedColumn",
                        legendText: "Muntah",
                        showInLegend: "true",
                        color: '#FCBAD3',
                        dataPoints: dataGAG
                    },















                    {
                        type: "stackedColumn",
                        legendText: "Riwayat kontak dengan PDP",
                        showInLegend: "true",
                        color: '#a200ff',
                        dataPoints: dataCONTACT_PATIENT
                    },
                    {
                        type: "stackedColumn",
                        legendText: "karantina mandiri 14 hari",
                        showInLegend: "true",
                        color: '#8ec127',
                        dataPoints: dataQUARANTINE
                    }


              ]
            });

            chart.render();

        }
    </script>
}
