﻿@model ESS.Data.Model.UserModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<!--begin::Head-->
<head>
    <meta charset="utf-8" />
    <title>JResources | Self Monitoring Login</title>
    <meta name="description" content="Login page example" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!--begin::Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <!--end::Fonts-->
    <!--begin::Page Custom Styles(used by this page)-->
    <link href="~/assets/css/pages/login/classic/login-3.css" rel="stylesheet" type="text/css" />
    <!--end::Page Custom Styles-->
    <!--begin::Global Theme Styles(used by all pages)-->
    <link href="~/assets/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/plugins/custom/prismjs/prismjs.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <!--end::Global Theme Styles-->
    <!--begin::Layout Themes(used by all pages)-->
    <link href="~/assets/css/themes/layout/header/base/light.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/themes/layout/header/menu/light.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/themes/layout/brand/dark.css" rel="stylesheet" type="text/css" />
    <link href="~/assets/css/themes/layout/aside/dark.css" rel="stylesheet" type="text/css" />
    <!--end::Layout Themes-->
    <link rel="shortcut icon" href="~/assets/media/logos/favicon.ico" />
    <style>
        body {
            background-color: white;
            position: relative;
            max-width: 480px;
            width: 100%;
            margin: 0px auto;
            box-sizing: border-box;
            min-height: calc(100vh - 60px);
        }

        #bg-login {
            background-image: url(/assets/media/bg/bg-login.jpg);
        }
    </style>
</head>
<!--end::Head-->
<!--begin::Body-->
<body id="kt_body" class="header-fixed header-mobile-fixed subheader-enabled subheader-fixed aside-enabled aside-fixed aside-minimize-hoverable page-loading">
    <!--begin::Main-->
    <div class="d-flex flex-column flex-root">
        <!--begin::Login-->
        <div class="login login-3 login-signin-on d-flex flex-row-fluid" id="kt_login">
            <div id="bg-login" class="d-flex flex-center bgi-size-cover bgi-no-repeat flex-row-fluid" style="">
                <div class="bg-text login-form text-center text-white p-7 position-relative overflow-hidden">
                    <!--begin::Login Header-->
                    <div class="d-flex flex-center mb-15">
                        <a href="#">
                            <img src="~/assets/media/logos/logo-mobile.png" class="max-h-75px" alt="" />
                        </a>
                    </div>
                    <!--end::Login Header-->

                    <!--begin::Login Sign in form-->
                    <div class="login-signin">
                        <div class="form" id="kt_login_signin_form">



                            <div class="form-group">
                                <input class="is-non-employee form-control h-auto text-white bg-white-o-5 rounded-pill py-4 px-8" type="text" placeholder="Nama Lengkap" name="FullName" autocomplete="off" />
                            </div>

                            <div class="form-group">
                                @Html.TextBoxFor(x => x.NIKSite, new { @class = "form-control h-auto text-white bg-white-o-5 rounded-pill py-4 px-8", @placeholder = "Nomor Induk Karyawan", @style = "text-transform: uppercase;", @autocomplete = "off" })
                            </div>

                            <div class="form-group">
                                <input class="is-non-employee form-control h-auto text-white bg-white-o-5 rounded-pill py-4 px-8" type="text" placeholder="Nama Perusahaan" name="CompanyName" />
                            </div>

                            <div class="form-group d-flex flex-wrap justify-content-between align-items-center px-8 opacity-60">
                                <label class="checkbox checkbox-outline checkbox-white text-white m-0">
                                    <input type="hidden" name="IsHRMS" value="true" />
                                    <input type="checkbox" name="ls-employee" />Kontraktor (Non Organik/LS Employee)
                                    <span></span>
                                </label>
                            </div>
                            <div class="form-group text-center mt-10">
                                <button id="btn-login" class="btn btn-pill btn-block btn-primary opacity-90 px-15 py-3">Sign In</button>
                            </div>
                        </div>

                        <div class="mt-10 d-none">
                            <span class="opacity-40 mr-4">Don't have an account yet?</span>
                            <a href="javascript:;" id="kt_login_signup" class="text-white opacity-30 font-weight-normal">Sign Up</a>
                        </div>
                    </div>
                    <!--end::Login Sign in form-->


                    <!--begin::Login Sign up form-->
                    <div class="login-signup">
                        <div class="mb-20">
                            <h3 class="opacity-40 font-weight-normal">Sign Up</h3>
                            <p class="opacity-40">Enter your details to create your account</p>
                        </div>
                        <form class="form text-center" id="kt_login_signup_form">
                            <div class="form-group">
                                <input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" type="text" placeholder="Fullname" name="fullname" />
                            </div>
                            <div class="form-group">
                                <input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" type="text" placeholder="Email" name="email" autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" type="password" placeholder="Password" name="password" />
                            </div>
                            <div class="form-group">
                                <input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" type="password" placeholder="Confirm Password" name="cpassword" />
                            </div>
                            <div class="form-group text-left px-8">
                                <label class="checkbox checkbox-outline checkbox-white opacity-60 text-white m-0">
                                    <input type="checkbox" name="agree" />I Agree the
                                    <a href="#" class="text-white font-weight-bold">terms and conditions</a>.
                                    <span></span>
                                </label>
                                <div class="form-text text-muted text-center"></div>
                            </div>
                            <div class="form-group">
                                <button id="kt_login_signup_submit" class="btn btn-pill btn-primary opacity-90 px-15 py-3 m-2">Sign Up</button>
                                <button id="kt_login_signup_cancel" class="btn btn-pill btn-outline-white opacity-70 px-15 py-3 m-2">Cancel</button>
                            </div>
                        </form>
                    </div>
                    <!--end::Login Sign up form-->
                    <!--begin::Login forgot password form-->
                    <div class="login-forgot d-none">
                        <div class="mb-20">
                            <h3 class="opacity-40 font-weight-normal">Forgotten Password ?</h3>
                            <p class="opacity-40">Enter your email to reset your password</p>
                        </div>
                        <form class="form" id="kt_login_forgot_form">
                            <div class="form-group mb-10">
                                <input class="form-control h-auto text-white bg-white-o-5 rounded-pill border-0 py-4 px-8" type="text" placeholder="Email" name="email" autocomplete="off" />
                            </div>
                            <div class="form-group">
                                <button id="kt_login_forgot_submit" class="btn btn-pill btn-primary opacity-90 px-15 py-3 m-2">Request</button>
                                <button id="kt_login_forgot_cancel" class="btn btn-pill btn-outline-white opacity-70 px-15 py-3 m-2">Cancel</button>
                            </div>
                        </form>
                    </div>
                    <!--end::Login forgot password form-->
                </div>
            </div>
        </div>
        <!--end::Login-->
    </div>
    <!--end::Main-->
    <script>var HOST_URL = "http://localhost:58980";</script>
    <!--begin::Global Config(global config for global JS scripts)-->
    <script>var KTAppSettings = { "breakpoints": { "sm": 576, "md": 768, "lg": 992, "xl": 1200, "xxl": 1200 }, "colors": { "theme": { "base": { "white": "#ffffff", "primary": "#6993FF", "secondary": "#E5EAEE", "success": "#1BC5BD", "info": "#8950FC", "warning": "#FFA800", "danger": "#F64E60", "light": "#F3F6F9", "dark": "#212121" }, "light": { "white": "#ffffff", "primary": "#E1E9FF", "secondary": "#ECF0F3", "success": "#C9F7F5", "info": "#EEE5FF", "warning": "#FFF4DE", "danger": "#FFE2E5", "light": "#F3F6F9", "dark": "#D6D6E0" }, "inverse": { "white": "#ffffff", "primary": "#ffffff", "secondary": "#212121", "success": "#ffffff", "info": "#ffffff", "warning": "#ffffff", "danger": "#ffffff", "light": "#464E5F", "dark": "#ffffff" } }, "gray": { "gray-100": "#F3F6F9", "gray-200": "#ECF0F3", "gray-300": "#E5EAEE", "gray-400": "#D6D6E0", "gray-500": "#B5B5C3", "gray-600": "#80808F", "gray-700": "#464E5F", "gray-800": "#1B283F", "gray-900": "#212121" } }, "font-family": "Poppins" };</script>
    <!--end::Global Config-->
    <!--begin::Global Theme Bundle(used by all pages)-->
    <script src="~/assets/plugins/global/plugins.bundle.js"></script>
    <script src="~/assets/plugins/custom/prismjs/prismjs.bundle.js"></script>
    <script src="~/assets/js/scripts.bundle.js"></script>
    <!--end::Global Theme Bundle-->
    <!--begin::Page Scripts(used by this page)-->
    <script>

        var URI_HOME = '@Url.Action("Index", "Home")';
        var URI_AUTH_LOGIN = '@Url.Action("Login", "Auth")';


        $('.is-non-employee').hide();

        $('input[name=ls-employee]').change(function () {
            if ($(this).prop('checked')) {
                $('input[name=IsHRMS]').val(false);
                $('.is-non-employee').slideDown();
            } else {
                $('input[name=IsHRMS]').val(true);
                $('.is-non-employee').hide();
            }
        });

        $('#btn-login').click(function () {

            var modal_name = '#kt_body';
            KTApp.block(modal_name, {
                overlayColor: '#000000',
                state: 'primary',
                message: 'Proses login...'
            });

            var dataForm = {
                nikSite: $('input[name=NIKSite]').val(),
                fullName: $('input[name=FullName]').val(),
                companyName: $('input[name=CompanyName]').val(),
                isHRMS: $('input[name=IsHRMS]').val(),
            };

            console.log(dataForm);
            console.log(JSON.stringify(dataForm) );

            $.ajax({
                url: URI_AUTH_LOGIN,
                type: 'post',
                //dataType: "json",
                //beforeSend: function (request) {
                //    request.setRequestHeader('Token', token);
                //},
                data: dataForm,
                success: function (response) {
                    if (response.isSuccess) {
                        Swal.fire("Good job!", response.message, "success")
                            .then(function (result) {
                                KTApp.unblock(modal_name);
                                window.location.href = URI_HOME;
                            });
                    } else {
                        Swal.fire("Warning alert!", response.message, "warning").then(function (result) {
                            KTApp.unblock(modal_name);
                        });
                    }
                },
                error: function (response) {
                    console.log(response);
                    Swal.fire("Error alert!", "Error when saving!", "error");
                    KTApp.unblock(modal_name);
                }
            });



        });
    </script>
    <!--end::Page Scripts-->
</body>
<!--end::Body-->
</html>
