﻿@using ESS.Data.Model
 
@{
    ViewData["Title"] = "Home Page";
    UserModel UserModel = UserModel.MappingFromAuth(User);
}

<!--begin::Card-->
<div class="card card-custom gutter-b">
    <div class="card-body">
        <!--begin::Details-->
        <div class="d-flex">
            <!--begin: Pic-->
            <div class="flex-shrink-0 mr-4 mt-lg-0 mt-3">
                <div class="symbol symbol-80 symbol-lg-80">
                    <img src="~/assets/media/users/default.jpg" alt="image" />
                </div>
                <div class="symbol symbol-50 symbol-lg-80 symbol-primary d-none">
                    <span class="font-size-h3 symbol-label font-weight-boldest">JM</span>
                </div>
            </div>
            <!--end::Pic-->
            <!--begin::Info-->
            <div class="flex-grow-1">
                <!--begin::Title-->
                <div class="d-flex justify-content-between flex-wrap mt-1">
                    <div class="d-flex mr-3">
                        <a href="#" class="text-dark-75 text-hover-primary font-size-h5 font-weight-bold mr-3">@UserModel.FullName</a>
                    </div>
                </div>
                <!--end::Title-->
                <!--begin::Content-->
                <div class="d-flex flex-wrap justify-content-between mt-1">
                    <div class="d-flex flex-column flex-grow-1">
                        <div class="d-flex flex-wrap mb-4">
                            <a href="#" class="text-dark-50 text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0">
                                <i class="flaticon2-new-email mr-2 font-size-lg"></i>@UserModel.Email
                            </a>
                            <a href="#" class="text-dark-50 text-hover-primary font-weight-bold font-size-xs">
                                <i class="flaticon2-placeholder mr-2"></i>@UserModel.CompanyName
                            </a>
                            <a href="#" class="text-dark-50 text-hover-primary font-weight-bold mr-lg-8 mr-5 mb-lg-0 font-size-xs">
                                <i class="flaticon2-calendar-3 mr-2"></i>@UserModel.Role
                            </a>
                        </div>
                    </div>
                </div>
                <!--end::Content-->
            </div>
            <!--end::Info-->
        </div>
        <!--end::Details-->
        <div class="separator separator-solid"></div>
    </div>
</div>
<!--end::Card-->
<!--begin::Row-->
<div class="row">
    <div class="col-lg-12">
        <!--begin::Advance Table Widget 2-->
        <div class="card card-custom card-stretch gutter-b pb-3">
            <!--begin::Header-->
            <div class="card-header border-0 pt-5">
                <h3 class="card-title">
                    <span class="card-label font-weight-bolder text-dark">Main Menu</span>
                </h3>
            </div>
            <!--end::Header-->
            <div class="separator separator-solid"></div>



            <!--begin::Body-->
            <div class="card-body p-3 pt-3">
                <div class="row pt-3">
                    <a href="@Url.Action("CheckIn", "SelfMonitoring")" class="col-3 text-center">
                        <div class="btn btn-icon btn-light-warning btn-lg mb-2">
                            <i class="flaticon2-notepad"></i>
                        </div>
                        <p class="text-dark font-size-xs">Self Monitoring</p>
                    </a>
                    @*<div class="col text-center">
                        <div class="btn btn-icon btn-light-warning btn-lg mb-2">
                            <i class="flaticon2-notepad"></i>
                        </div>
                        <p class="text-dark font-size-sm">Self Monitoring</p>
                    </div>
                    <div class="col text-center">
                        <div class="btn btn-icon btn-light-warning btn-lg mb-2">
                            <i class="flaticon2-notepad"></i>
                        </div>
                        <p class="text-dark font-size-sm">Self Monitoring</p>
                    </div>
                    <div class="col text-center">
                        <div class="btn btn-icon btn-light-warning btn-lg mb-2">
                            <i class="flaticon2-notepad"></i>
                        </div>
                        <p class="text-dark font-size-sm">Self Monitoring</p>
                    </div>*@
                </div>
            </div>
            <!--end::Body-->
        </div>
        <!--end::Advance Table Widget 2-->
    </div>
</div>
<!--end::Row-->